
<%if @article.present? %>
<h1> <%= @article.title %></h1>
<p> <%= @article.description%></p>
<p> <%= image_tag @article.header_image.representation(resize_to_limit: [200,200]) %> </p>
 <% @article.uploads.each do |file| %>
    <li>
      <% if file.representable? %>
        <%=  link_to image_tag(file.representation(resize_to_limit: [200, 200])), file %>
      <% else %>
        <%= link_to rails_blob_path(file, disposition: "attachment") do %>
          <%= image_tag "placeholder.png", alt: "Download file" %>
        <% end %>
      <% end %>
    </li>
  <% end %>
<% else %>
Article not found
<%end%>
<%= link_to 'Back',articles_path %>
<%= link_to 'Edit',edit_article_path(@article) if policy(@article).edit?%>
<%= link_to 'Delete Article', article_path(@article), data:{turbo_method: :delete } if policy(@article).destroy?%>
<h5>Comments</h5>
<%= render "comments/new_comment"%>

<h5>Create Comment </h5>
<%= render "comments/show_comment"%>

<%= link_to 'Back To Home', articles_path %>